@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-night-50: #171e2c;
  --color-night-500: #0d1120;
  --color-night: #0d1120;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-float: float 4s ease-in-out infinite;
  --animate-fade-in: fadeIn 1s ease-in-out;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn-press-anim {
    @apply transition active:scale-75;
  }
}

@layer base {
  body {
    font-family: "Nunito Sans Variable", sans-serif;
  }
}
